html {
    scroll-behavior: smooth;
}

.menu a {
    cursor: pointer;
}

section.home {
    height: 600px;
}

section.page {
    padding: 20px;
    scroll-margin-top: 72;
    min-height: 300px;
}

.submenu-hidden {
    display: none;
}

.submenu-visible {
    display: block;
}