html {
    scroll-behavior: smooth;
}

.menu a {
    cursor: pointer;
}

section.home {
    height: 100vh;
}

section.page {
    padding: 20px;
    scroll-margin-top: 72;
    min-height: 100vh;
}

.hero-section {
    background-image: url('../images/Hero-BG-TEMSMET-2025.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.submenu-hidden {
    display: none;
}

.submenu-visible {
    display: block;
}

.gradient-text {
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(90deg, #015b61, #0b0a35, #250aee);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
